body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title {
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
    top: 20px;
    left: 20px;
    position: absolute;
    font-size: 1.1rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    align-items: center;
}

.image-con {
    flex: 30%;
}

.content {
    flex: 50%;
    margin-left: 50px;
}

.content h2 {
    font-weight: bolder;
    font-size: 3.5rem;
    margin-bottom: 30px;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.footer {
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}